/* 1 */
p#pogrubienie_kopytko {
    font-size: 32px;
    color: rgb(128, 87, 209);
}

/* 2 */
p#pochylona_kopytko {
    font-size: 37px; /* 30px + 7px */
    color: rgb(228, 187, 109); /* rgb(225+3, 150+37, 100+9) */
}

/* 3 */
p#index_gorny_kopytko {
    font-size: 1.2cm; /* 0.5cm + 0.1cm * 7cm */
    color: rgb(148, 137, 29); /* rgb(145+3, 100+37, 20+9) */
}

/* 4 */
p#index_dolny_kopytko {
    font-size: 42px; /* 35px + 7px */
    color: rgb(48, 237, 229); /* rgb(45+3, 200+37, 220+9) */
}

/* 5 */
p#mono_kopytko {
    font-size: 42px; /* 35px + 7px */
    color: rgb(20, 217, 109); /* rgb(17+3, 180+37, 100+9) */
}

/* 6 */
p#powiekszenie_kopytko {
    color: rgb(78, 57, 159); /* rgb(75+3, 20+37, 150+9) */
}

/* 7 */
p#pomniejszenie_kopytko {
    color: rgb(178, 157, 59); /* rgb(175+3, 120+37, 50+9) */
}