p {
    color: red;
    font-size: 40mm
}
span {
    color: green;
    font-size: 25mm
}
div {
    background-color: silver;
}
li.one {
    color: rgb(166, 18, 163)
}
li.two {
    color: rgb(255, 150, 253)
}
li.three {
    color: rgb(193, 247, 246)
}
